# Variáveis de Ambiente

VITE_TMDB_API_KEY=
GEMINI_API_KEY=
VITE_GOOGLE_DRIVE_API_KEY=
VITE_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
ONESIGNAL_REST_API_KEY=
VITE_ONESIGNAL_APP_ID=581f23c1-2b57-4646-8780-6cd2ccbba30e

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
